.product-card {
  display: flex;
  flex-direction: row;         /* Imagen a la izquierda, texto a la derecha */
  background: #0d0e0e;        
  border-radius: 18px;
  overflow: hidden;            
  box-shadow: 0 6px 18px rgba(0,0,0,.35);
}

.product-img {
  width: 50%;                  /* Mitad izquierda de la foto*/
  height: 220px;
  object-fit: cover;
  display: block;
}

.product-panel {
  flex: 1;                     /* Ocupa la mitad derecha de la foto */
  padding: 16px;
  color: #fdfdfd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-muted {
  color: #a29999 !important;   
}

.price {
  font-weight: bold;
  font-size: 1.25rem;
  color: #ffcc00;              
}

.section-title {
  font-size: 1.75rem;
  font-weight: bold;
  border-bottom: 1px solid #b2b2b2; 
  padding-bottom: 8px;
  margin-bottom: 24px;
}
.row {
  margin-top: 16px;
}

.btn-primary {
  background-color: #d8c67c;   
  font-weight: bold;
 }

 .btn btn-panel agregar-carrito
  {
    background-color: #b2a674;   
    font-weight: bold;
  }
